{% extends "dash_base.html" %} {% block title %} Dashboard page {% endblock %} {% block content %}
<h1 class="text-center">Dashboard!</h1>
<p></p>
<p></p>

<h3 class="text-left">Name : Robin Babu P</h3>
<h3 class="text-left">Age  : 22 </h3>
<h3 class="text-left">Height : 163cm </h3>
<h3 class="text-left">Weight : 69 Kg </h3>
<h3 class="text-left">Contact Information  : 1234567890 </h3>
<h3 class="text-left">BMI  : 26.2    </h3>

<script>
    var hb = {{ data.hb | safe }};
    var bp = {{ data.bp | safe }};
    var sp = {{ data.sp | safe }};
    var cal = {{ data.calories | safe }};

window.onload = function () {

    var chart1 = new CanvasJS.Chart("chartContainer", {
        animationEnabled: true,
        theme: "light2",
        title:{
            text: "Heart Beat Chart"
        },
        data: [{        
            type: "line",
            indexLabelFontSize: 16,
            dataPoints: hb
        }]
    });
    chart1.render();

    var chart2 = new CanvasJS.Chart("chartContainer2", {
        animationEnabled: true,
        theme: "light2",
        title:{
            text: "Blood Pressure Chart"
        },
        data: [{        
            type: "line",
            indexLabelFontSize: 16,
            dataPoints: bp
        }]
    });
    chart2.render();

    var chart3 = new CanvasJS.Chart("chartContainer3", {
        animationEnabled: true,
        theme: "light2",
        title:{
            text: "Oxygen Levels Chart"
        },
        data: [{        
            type: "line",
            indexLabelFontSize: 16,
            dataPoints: sp
        }]
    });
    chart3.render();

    var chart4 = new CanvasJS.Chart("chartContainer4", {
        animationEnabled: true,
        theme: "light2",
        title:{
            text: "Calorie Consumption Chart"
        },
        data: [{        
            type: "line",
            indexLabelFontSize: 16,
            dataPoints: cal
        }]
    });
    chart4.render();

}
</script>

<body>
    <div id="chartContainer" style="height: 370px; width: 100%;"></div>
    <div id="chartContainer2" style="height: 370px; width: 100%;"></div>
    <div id="chartContainer3" style="height: 370px; width: 100%;"></div>
    <div id="chartContainer4" style="height: 370px; width: 100%;"></div>

    <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>

{% endblock %}
