{% extends "base.html" %} {% block title %} Upload data page {% endblock %} {% block content %}
<form  method="POST" class="row g-3" action="">
  <h1 class="text-center">Upload Data</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
    <!-- submit button -->
    <!-- <center><button type="submit" class="btn btn-primary col-md-7" value = "Sleep">I am exercising</button></center> -->
<center><button type="submit" class="btn btn-primary col-md-7" name="action" value = "Sleep">I am Sleeping</button></center>
<center><button type="submit" class="btn btn-primary col-md-7" name="action" value = "Exercise">I am Exercising</button></center>
<!-- <input class="btn btn-primary" type="submit" value="Sleep"> -->
<!-- <input class="btn btn-primary" type="reset" value="Exercise"> -->
</form>

{% endblock %}
