{% extends "base.html" %}
{% block title %} Homepage {% endblock %}
{% block content %} 
 <style>
body {
  background-image: url("https://atlasbiomed.com/blog/content/images/size/w2000/2020/07/2020-07-08-Hack-health-with-tech.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style> 
<br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
<center><h1 style="background-color:powderblue;" style="color:white;"><u><b>Health Monitoring System</b></u></h1></center>
{% endblock %}
